{% comment %}
Sidebar: System -> Faction -> Models
{% endcomment %}

<div class="sidebar sticky">
  <nav class="nav__list" aria-label="Browse by system">
    <input id="ac-toc" name="accordion-toc" type="checkbox" />
    <label for="ac-toc">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</label>
    <ul class="nav__items">
      {% for system_pair in site.data.systems %}
        {% assign system_key = system_pair[0] %}
        {% assign system = system_pair[1] %}

        {% assign system_entry_count = 0 %}
        {% for faction_key in system.factions %}
          {% include assign_faction_entries.html faction=faction_key %}
          {% assign system_entry_count = system_entry_count | plus: entries.size %}
        {% endfor %}

        {% if system_entry_count > 0 %}
        <li>
          <span class="nav__sub-title"><a href="{{ system.url | relative_url }}">{{ system.name }}</a></span>
          <ul>
            {% for faction_key in system.factions %}
              {% assign faction = site.data.factions[faction_key] %}
              {% include assign_faction_entries.html faction=faction_key %}
              {% if entries.size > 0 %}
              <li>
                {% if page.faction == faction_key %}
                <a href="{{ faction.url | relative_url }}" class="active">{{ faction.name }}</a>
                {% else %}
                <a href="{{ faction.url | relative_url }}">{{ faction.name }}</a>
                {% endif %}
                <ul>
                  {% for entry in entries %}
                  <li>
                    {% if page.url == entry.url %}
                    <a href="{{ entry.url | relative_url }}" class="active">{{ entry.title }}</a>
                    {% else %}
                    <a href="{{ entry.url | relative_url }}">{{ entry.title }}</a>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
